.home__chart-container {
    min-height: 300px;
    max-width: 650px;
    max-height: 300px;
}

.home__input-card {
    width: 650px;
  }

.home__input-container {
    width: 300px;
}
  
.home__span-container {
    text-align: justify;
    text-justify: inter-word;
    width: 650px;
  }
